/* BARS */

#left-bar {
    /* border: solid #763e83;
    background-color: #763e83; */
    border: solid #ea9e0a;
    background-color: #ea9e0a;
    width: 5%;
    height: 100%;
    position: fixed;
}

#right-bar {
    /* border: solid #763e83;
    background-color: #763e83; */
    border: solid #ea9e0a;
    background-color: #ea9e0a;
    width: 5%;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
}


/* NAV BAR STYLE */

#navPrincipal {
    width: 90%;
    margin: 0 auto;
    background-color: #924ca2;
    color: white;
}

#navBarButton {
    border-color: whitesmoke;
    color: whitesmoke;
}

#navBarButton:hover {
    background-color: #ee9900;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: #ea9e0a;
}

.navBarImgStyle {
    height: 25px;
    width: 25px;
    margin-bottom: -7px;
    margin-left: 2em;
    margin-right: 0.3em;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url(../imagen/collapseButton.svg);
    visibility: visible;
    opacity: 100%;
}

#toggleButton {
    border: hidden;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
    transition-duration: 300ms;
    visibility: visible;
}


/* Separator */

.hrseparator {
    border-style: double;
    border-width: 6px;
    border-color: rgb(128, 82, 172);
}

hr {
    width: 90%;
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


/* Content */

.content {
    color: rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

.brStyle {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.darkMode {
    background-color: rgba(0, 0, 0, 0.822);
    color: rgba(255, 255, 255, 0.959);
    padding: 20px;
}

.darkMode p.pdm {
    margin-top: -10px;
    display: inline;
}


/* CALENDAR */

#calendarStyleDiv {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#calendarStyle {
    border: solid 1px grey;
    width: 100%;
    height: 70vw;
}


/* Titulo */

.tittlestyle {
    font-size: 100px;
    color: rgb(255, 165, 0);
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    margin-top: 40px;
}

h1 {
    display: block;
    font-weight: bold;
}


/* Logo */

img {
    padding: 0;
    margin: 0;
}

#logoStyle {
    margin: 0 auto;
    width: 550px;
    border-radius: 30em;
    box-shadow: rgb(0, 0, 0) 0px 0px 7px 5px;
    ;
}

.italicunderlogo {
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
}


/* Carousell */

.bgCarousell {
    background: rgba(0, 0, 0, 0.658);
    border: black;
    border-radius: 1em;
}

#hero img {
    object-fit: cover;
    height: 500px;
}


/* FOOTER */

.footerStyle {
    bottom: 0;
    border: solid #924ca2 1px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    background-color: #924ca2;
}

.footerStyle .p1 {
    margin-top: -50px;
    display: inline-block;
}

.footerStyle a {
    color: black;
}


/* Modal */

#exampleModal {
    display: "";
}

.exampleModalLong {
    display: "";
    visibility: hidden;
}

#exampleModalCenter {
    display: "";
    visibility: hidden;
}

.eMC2 {
    visibility: hidden;
}

#exampleModalCenter2 {
    visibility: hidden;
}

#gmap_canvas {
    width: 100%;
    height: 500px;
    margin: auto 0;
    margin-bottom: 20px;
}


/* Servicios */

#card-deck {
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.822);
}

#card-deck h1 {
    margin-bottom: 30px;
    color: rgb(235, 235, 233);
    text-align: center;
}

.card-deck {
    width: 100%;
    margin: 0 0px;
    justify-content: space-between;
}

.card {
    border: none;
    height: 300px;
}

.card img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: opacity 1s;
}

.card-deck .card {
    margin: 0px 0 1rem;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover img {
    opacity: 0.8;
    box-shadow: 0px 0px 2px 3px #cacaca;
}

.card:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(32, 32, 32);
    color: rgb(221, 221, 221);
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
    padding: 16px 32px;
    font: bold;
}


/* TORNEO */

#torneoStyle {
    width: 90%;
    margin: 0 auto;
    border: black 5px solid;
    margin-top: 60px;
    margin-bottom: 60px;
}

#torneoStyle img {
    width: 100%;
}


/* MEDIAS CHANGES */

@media only screen and (max-width: 800px) {
    #logoStyle {
        margin: 0 auto;
        width: 350px;
    }
    .italicunderlogo {
        font-style: italic;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: small;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: small;
    }
    .darkMode {
        background-color: rgba(0, 0, 0, 0.822);
        color: rgba(255, 255, 255, 0.959);
        padding: 20px;
    }
    .darkMode p.pdm {
        margin-top: -10px;
        display: inline;
    }
    h2 {
        font-size: 25px;
    }
    .tittlestyle {
        font-size: 70px;
        color: rgb(255, 165, 0);
        text-align: center;
        text-shadow: rgb(0, 0, 0) 1px 1px 2px;
        margin-top: 40px;
    }
    h1 {
        display: block;
        font-weight: bold;
    }
}

@media (min-width: 1000px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

@media only screen and (max-width: 402px) {
    #logoStyle {
        margin: 0 auto;
        width: 80%;
    }
    .italicunderlogo {
        font-style: italic;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 70%;
        margin-left: 5%;
        margin-right: 5%;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: small;
    }
    .darkMode {
        background-color: rgba(0, 0, 0, 0.822);
        color: rgba(255, 255, 255, 0.959);
        padding: 20px;
    }
    .darkMode p.pdm {
        margin-top: -10px;
        display: inline;
    }
    h2 {
        font-size: 25px;
    }
    .tittlestyle {
        font-size: 15vw;
        color: rgb(255, 165, 0);
        text-align: center;
        text-shadow: rgb(0, 0, 0) 1px 1px 2px;
        margin-top: 40px;
    }
    h1 {
        display: block;
        font-weight: bold;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}